<footer class="bg-dark text-white text-center py-3 mt-auto">
  <div class="container">
      <div class="row">

          <div class="col-md-6 mb-3">
              <h5 class="fw-bold">Contact Info</h5>
              <p class="mb-1"><i class="bi bi-telephone-fill"></i> 0939-483-0979</p>
              <p class="mb-0"><i class="bi bi-envelope-fill"></i> <a href="mailto:20223866s@ubaguio.edu" class="text-white text-decoration-none">20223866s.ubaguio.edu</a></p>
          </div>

   
          <div class="col-md-6 mb-3">
              <h5 class="fw-bold">Follow Us</h5>
              <a href="#" class="text-white mx-2"><i class="bi bi-facebook"></i> Facebook</a>
              <a href="#" class="text-white mx-2"><i class="bi bi-instagram"></i> Instagram</a>
              <a href="#" class="text-white mx-2"><i class="bi bi-twitter-x"></i> Twitter</a>
          </div>
      </div>

      <hr class="border-secondary my-2">

      <p class="mb-0">&copy; 2025 | All Rights Reserved</p>
  </div>
</footer>

