<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>
<body>
  <div class="container">
    <!-- Other content -->
    <footer class="bg-dark text-white text-center p-3">
      <div class="container">
        <div class="row">
          <!-- Contact Info -->
          <div class="col-md-6 mb-4">
            <h5>Contact Us</h5>
            <p>
              Email: 20227403&#64;s.ubaguio.edu<br>
              Phone: (123) 456-7890<br>
              Address: 123 App Development Lane, Tech City
            </p>
          </div>
          <!-- Social Media Links -->
          <div class="col-md-6 mb-4">
            <h5>Follow Us</h5>
            <ul class="list-unstyled">
              <li>
                <a href="https://www.facebook.com" class="text-white">Facebook</a>
              </li>
              <li>
                <a href="https://www.twitter.com" class="text-white">Twitter</a>
              </li>
              <li>
                <a href="https://www.instagram.com" class="text-white">Instagram</a>
              </li>
              <li>
                <a href="https://www.linkedin.com" class="text-white">LinkedIn</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="bg-primary text-center p-2">
        © 2025 Your Company Name
      </div>
    </footer>
  </div>
</body>
</html>
